.member{
    flex: 4;
    margin: 20px;
    padding: 20px;
}

.member__title{
    font-weight: bold;
    font-size: 800;
    margin-bottom: 10px;
}

.member__list{
    display: flex;
    align-items: center;
}

.member__avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.editMemberButton{
    padding: 5px 10px !important;
    margin-right: 20px;
}

.deleteMember__icon{
    cursor: pointer;
    color: red !important;
}